Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, utils, graphgym, benchmark

[Type Hints] `datasets.Reddit` and `datasets.Reddit2` (#5695)
  CHANGELOG.md
  torch_geometric/datasets/reddit.py
  torch_geometric/datasets/reddit2.py
Labels: dataset

Support `np.memmap` in `NeighborLoader` (#5696)
  CHANGELOG.md
  test/data/test_batch.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/storage.py
  torch_geometric/loader/utils.py
Labels: data, loader

[Type Hints] `nn.DeepGCNLayer` (#5699)
  CHANGELOG.md
  torch_geometric/nn/models/deepgcn.py
Labels: nn

[Type Hints] `nn.avg_pool_x` (#5706)
  CHANGELOG.md
  test/nn/pool/test_avg_pool.py
  torch_geometric/nn/pool/avg_pool.py
Labels: nn

[Type Hints] transform.RandomShear (#5702)
  CHANGELOG.md
  torch_geometric/transforms/random_shear.py
Labels: transform

Fix `pyg-lib` `hetero_neighbor_sampler` usage (#5697)
  torch_geometric/sampler/neighbor_sampler.py
Labels: none

[Type Hints] `datasets.ModelNet` (#5701)
  CHANGELOG.md
  torch_geometric/datasets/modelnet.py
Labels: dataset

Add test for `DeepGCNLayer` (#5704)
  CHANGELOG.md
  test/nn/models/test_deepgcn.py
Labels: none

[Type Hints] `nn.max_pool_neighbor_x` (#5703)
  CHANGELOG.md
  torch_geometric/nn/pool/max_pool.py
Labels: nn

[Type Hints] `nn.avg_pool_neighbor_x` (#5707)
  CHANGELOG.md
  torch_geometric/nn/pool/avg_pool.py
Labels: nn

[Type Hints] `nn.GraphUNet` `nn.SchNet` (#5710)
  CHANGELOG.md
  test/nn/models/test_graph_unet.py
  test/nn/models/test_schnet.py
  torch_geometric/nn/models/graph_unet.py
  torch_geometric/nn/models/schnet.py
Labels: nn

[TypeHints] Random Transforms (#5714)
  CHANGELOG.md
  torch_geometric/transforms/random_flip.py
  torch_geometric/transforms/random_jitter.py
  torch_geometric/transforms/random_rotate.py
  torch_geometric/transforms/random_scale.py
Labels: transform

Fix allclose check in case of NaNs
  test/nn/dense/test_linear.py
Labels: none

[Type Hints] `transforms.KNNGraph` and `transforms.FaceToEdge` (#5722)
  CHANGELOG.md
  torch_geometric/transforms/face_to_edge.py
  torch_geometric/transforms/knn_graph.py
Labels: transform

[Type Hints] `nn.GraphSizeNorm` (#5729)
  CHANGELOG.md
  test/nn/norm/test_graph_size_norm.py
  torch_geometric/nn/norm/graph_size_norm.py
Labels: nn

Extended dataset cheatsheet in documentation: `Entities`, `RelLinkPredDataset` and `GEDDataset` (#5728)
  torch_geometric/datasets/entities.py
  torch_geometric/datasets/ged_dataset.py
  torch_geometric/datasets/rel_link_pred_dataset.py
Labels: dataset

[Type hints] `nn.ARGVA` and `nn.ARGA` (#5726)
  CHANGELOG.md
  test/nn/models/test_autoencoder.py
  torch_geometric/nn/models/autoencoder.py
Labels: nn

[Type hints] `nn.SignedGCN` (#5725)
  CHANGELOG.md
  test/nn/models/test_signed_gcn.py
  torch_geometric/nn/models/signed_gcn.py
Labels: nn

[Type Hints] `nn.ChebConv` (#5730)
  CHANGELOG.md
  torch_geometric/nn/conv/cheb_conv.py
Labels: nn

[Type Hints] transforms: `TargetIndegree`, `ToSLIC`, and `SVDFeatureReduction` (#5743)
  CHANGELOG.md
  torch_geometric/transforms/svd_feature_reduction.py
  torch_geometric/transforms/target_indegree.py
  torch_geometric/transforms/to_superpixels.py
Labels: transform

[Type Hints] `nn.avg_pool` (#5734)
  CHANGELOG.md
  torch_geometric/nn/pool/avg_pool.py
Labels: nn

[Type Hints] `nn.max_pool` (#5735)
  CHANGELOG.md
  torch_geometric/nn/pool/max_pool.py
Labels: nn

Add `node_types` argument to `transforms.Constant` (#5700)
  CHANGELOG.md
  examples/hetero/hetero_conv_dblp.py
  examples/hetero/hgt_dblp.py
  test/transforms/test_constant.py
  torch_geometric/nn/pool/avg_pool.py
  torch_geometric/nn/pool/max_pool.py
  torch_geometric/transforms/constant.py
Labels: example, nn, transform

[Type Hints] `transforms.Spherical` and `transforms.PointPairFeatures` (#5732)
  CHANGELOG.md
  torch_geometric/transforms/point_pair_features.py
  torch_geometric/transforms/spherical.py
Labels: transform

[Type Hints] `transforms.SamplePoints`, `transforms.FixedPoints` and `transforms.LaplacianLambdaMax` (#5733)
  CHANGELOG.md
  torch_geometric/transforms/fixed_points.py
  torch_geometric/transforms/laplacian_lambda_max.py
  torch_geometric/transforms/sample_points.py
Labels: transform

[Type Hints] `nn.RENet` (#5715)
  CHANGELOG.md
  test/nn/models/test_re_net.py
  torch_geometric/nn/models/re_net.py
Labels: nn

[Type Hints] `utils.train_test_split_edges` (#5737)
  CHANGELOG.md
  torch_geometric/utils/train_test_split_edges.py
Labels: utils

fix Windows tests
  test/data/test_batch.py
  test/loader/test_neighbor_loader.py
Labels: none

[Type Hints] `datasets.YELP` (#5747)
  CHANGELOG.md
  torch_geometric/datasets/yelp.py
Labels: dataset

[Type Hints] `transforms.SIGN`, `utils.to_scipy_sparse_matrix` and `utils.from_scipy_sparse_matrix` (#5736)
  CHANGELOG.md
  torch_geometric/transforms/sign.py
  torch_geometric/utils/convert.py
Labels: transform, utils

`LinkNeighborLoader`: Disjoint sampling for links (#5717)
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: loader

[Type Hints] `transforms.GDC` (#5752)
  CHANGELOG.md
  torch_geometric/transforms/gdc.py
Labels: transform

[Type Hints] Missing type hints in `transforms.*` (#5753)
  CHANGELOG.md
  torch_geometric/transforms/add_self_loops.py
  torch_geometric/transforms/center.py
  torch_geometric/transforms/compose.py
  torch_geometric/transforms/delaunay.py
  torch_geometric/transforms/gcn_norm.py
  torch_geometric/transforms/generate_mesh_normals.py
  torch_geometric/transforms/linear_transformation.py
  torch_geometric/transforms/local_degree_profile.py
  torch_geometric/transforms/normalize_features.py
  torch_geometric/transforms/normalize_rotation.py
  torch_geometric/transforms/normalize_scale.py
  torch_geometric/transforms/radius_graph.py
  torch_geometric/transforms/random_link_split.py
  torch_geometric/transforms/random_node_split.py
  torch_geometric/transforms/remove_isolated_nodes.py
  torch_geometric/transforms/to_device.py
  torch_geometric/transforms/to_sparse_tensor.py
  torch_geometric/transforms/to_undirected.py
  torch_geometric/transforms/two_hop.py
Labels: transform

[Type Hints] `datasets.MNISTSuperpixels` (#5760)
  CHANGELOG.md
  torch_geometric/datasets/mnist_superpixels.py
Labels: dataset

[Type Hints] `nn.dense_diff_pool` (#5754)
  CHANGELOG.md
  test/nn/dense/test_diff_pool.py
  torch_geometric/nn/dense/diff_pool.py
Labels: nn

Support for `input_time` in `NeighborLoader` (#5763)
  CHANGELOG.md
  test/loader/test_hgt_loader.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: data, loader

[Type Hints] `nn.DiffGroupNorm` (#5757)
  CHANGELOG.md
  test/nn/norm/test_diff_group_norm.py
  torch_geometric/nn/norm/diff_group_norm.py
Labels: nn

`NodeSampler`/`LinkSampler`: Rename input indices to `input_id` (#5764)
  test/loader/test_hgt_loader.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/node_loader.py
Labels: loader

[Type Hints] `utils.grid` (#5724)
  CHANGELOG.md
  test/utils/test_grid.py
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/grid.py
Labels: utils

[Type Hints] `utils.is_undirected` and `utils.to_undirected` (#5767)
  CHANGELOG.md
  test/utils/test_undirected.py
  torch_geometric/nn/dense/diff_pool.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/undirected.py
Labels: nn, utils

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*
