Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, utils, graphgym, benchmark

update
  test/nn/dense/test_dense_graph_conv.py
  test/nn/models/test_autoencoder.py
  torch_geometric/nn/dense/dense_graph_conv.py
Labels: nn

[Type Hints] `nn.MessageNorm` (#5847)
  CHANGELOG.md
  test/nn/norm/test_msg_norm.py
  torch_geometric/nn/norm/msg_norm.py
Labels: nn

[Type Hints] `utils.geodesic_distance` and `utils.tree_decomposition` (#5851)
  CHANGELOG.md
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/tree_decomposition.py
Labels: utils

[Type Hints] `nn.PANPooling` (#5852)
  CHANGELOG.md
  test/nn/pool/test_pan_pool.py
  torch_geometric/nn/pool/pan_pool.py
Labels: nn

fix GNNExplainer type hints
  torch_geometric/nn/models/gnn_explainer.py
Labels: nn

Fix type in `k_hop_subgraph` documentation (#5858)
  torch_geometric/utils/subgraph.py
Labels: utils

Fix `TypeError` in `from_networkx` (#5876)
  torch_geometric/graphgym/logger.py
  torch_geometric/utils/convert.py
Labels: utils, graphgym

Added `torch.onnx.export` test (#5877)
  .gitignore
  CHANGELOG.md
  setup.py
  test/nn/models/test_basic_gnn.py
Labels: none

Enable VTune ITT in training benchmarks (#5878)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/utils.py
Labels: benchmark

Fix broken DimeNet test
  test/nn/models/test_dimenet.py
Labels: none

Add TorchScript support for `AttentiveFP` (#5868)
  CHANGELOG.md
  test/nn/models/test_attentive_fp.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/nn/models/attentive_fp.py
Labels: nn

Add `SparseTensor` support for `SuperGATConv` (#5888)
  CHANGELOG.md
  test/nn/conv/test_supergat_conv.py
  torch_geometric/nn/conv/supergat_conv.py
Labels: nn

`Explainer`: Support for setting and clearing masks in heterogeneous GNNs (#5886)
  CHANGELOG.md
  test/nn/models/test_hetero_explainer.py
  torch_geometric/nn/models/explainer.py
Labels: nn

Add `HydroNet` dataset (#5537)
  CHANGELOG.md
  torch_geometric/data/dataset.py
  torch_geometric/data/in_memory_dataset.py
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/hydro_net.py
Labels: data, dataset

Fix `cached_property` import on Python 3.7 (#5902)
  CHANGELOG.md
  torch_geometric/datasets/hydro_net.py
Labels: dataset

Fix `cached_property` import on Python <3.8 (#5903)
  CHANGELOG.md
  torch_geometric/datasets/hydro_net.py
Labels: dataset

``nn.dense_mincut_pool`` Add temperature parameter to mincut pool operator (#5908)
  CHANGELOG.md
  torch_geometric/nn/dense/mincut_pool.py
Labels: nn

remove duplicated entry for SEAL in README (#5920)
  README.md
Labels: none

Add `spmm` and `is_torch_sparse_tensor` (#5906)
  CHANGELOG.md
  test/utils/test_spmm.py
  test/utils/test_torch_sparse_tensor.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/torch_sparse_tensor.py
Labels: utils

Enable `SparseTensor` in training benchmarks (#5881)
  CHANGELOG.md
  benchmark/training/training_benchmark.py
Labels: benchmark

Add support for customizable interaction graph in `SchNet` model (#5919)
  CHANGELOG.md
  examples/qm9_pretrained_schnet.py
  test/nn/models/test_schnet.py
  torch_geometric/nn/models/schnet.py
Labels: example, nn

GNN explanation settings (#5804)
  CHANGELOG.md
  docs/source/index.rst
  docs/source/modules/explain.rst
  test/explain/test_explain_config.py
  test/explain/test_explainer.py
  test/explain/test_explanations.py
  test/nn/models/test_to_captum.py
  torch_geometric/explain/__init__.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
  torch_geometric/explain/explanations.py
Labels: documentation

Support symbolic tracing of `SchNet` (#5938)
  CHANGELOG.md
  torch_geometric/nn/models/schnet.py
Labels: nn

Add `to_fixed_size` graph transformer (#5939)
  CHANGELOG.md
  test/nn/test_to_fixed_size_transformer.py
  torch_geometric/__init__.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/to_fixed_size_transformer.py
Labels: nn

Add `lr_scheduler_solver` and customized `lr_scheduler` classes (#5942)
  CHANGELOG.md
  test/nn/test_resolver.py
  torch_geometric/nn/lr_scheduler.py
  torch_geometric/nn/resolver.py
Labels: nn

Add link to "COO format" in introduction (#5946)
  docs/source/notes/introduction.rst
Labels: documentation

Add `dgNN` support (#5140)
  CHANGELOG.md
  test/nn/conv/test_fused_gat_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/fused_gat_conv.py
Labels: nn

add FusedGATConv to README
  README.md
Labels: none

add FusedGATConv to README
  README.md
Labels: none

Fix `collate_fn` type hints (#5951)
  torch_geometric/data/collate.py
Labels: data

add `num_nodes` to `filter_custom_store` (#5957)
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/utils.py
Labels: loader

update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Enable to set custom number of steps in benchmarks (#5898)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/training/training_benchmark.py
Labels: benchmark

Fix typo in docs of `nn.ARGVA` (#5969)
  torch_geometric/nn/models/autoencoder.py
Labels: nn

Fix docstring in `nn.ARGA` (#5970)
  torch_geometric/nn/models/autoencoder.py
Labels: nn

Support for `int32` graphs in `NeighborLoader` (#5948)
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: loader

Pytorch 11.3 support (#5975)
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
  test/nn/dense/test_linear.py
Labels: documentation

Fix `LinkNeighborLoader` within `multiprocessing.spawn` (#5978)
  torch_geometric/loader/link_loader.py
Labels: loader

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*
