Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, utils, graphgym, benchmark

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*

[Type Hints] `nn.AttentiveFP` (#5766)
  CHANGELOG.md
  torch_geometric/nn/models/attentive_fp.py
Labels: nn

[Type Hints] `nn.dense_mincut_pool` (#5756)
  CHANGELOG.md
  test/nn/dense/test_mincut_pool.py
  torch_geometric/nn/dense/mincut_pool.py
Labels: nn

[Type Hints] `to_networkx`, `from_networkx`, `erdos_renyi_graph`, etc (#5768)
  CHANGELOG.md
  torch_geometric/utils/convert.py
  torch_geometric/utils/random.py
Labels: utils

Add `temporal_strategy` to the `LightningNodeData` (#5771)
  torch_geometric/data/lightning_datamodule.py
Labels: data

[Type Hints] `nn.MetaLayer` (#5758)
  CHANGELOG.md
  test/nn/test_meta.py
  torch_geometric/nn/meta.py
Labels: nn

[Type Hints] `nn.GNNExplainer` (#5716)
  CHANGELOG.md
  test/nn/models/test_gnn_explainer.py
  torch_geometric/nn/models/gnn_explainer.py
Labels: nn

[Type Hints] `nn.TopKPooling` (#5731)
  CHANGELOG.md
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: nn

[Type Hints] `nn.EdgePooling` (#5738)
  CHANGELOG.md
  test/nn/pool/test_edge_pool.py
  torch_geometric/nn/pool/edge_pool.py
Labels: nn

Extended dataset cheatsheet in documentation: `MNISTSuperpixels`, `FAUST`, `ShapeNet`, `ModelNet`, and `CoMA` (#5772)
  torch_geometric/datasets/coma.py
  torch_geometric/datasets/faust.py
  torch_geometric/datasets/mnist_superpixels.py
  torch_geometric/datasets/modelnet.py
  torch_geometric/datasets/shapenet.py
Labels: dataset

[Type Hints] datasets.WILLOWObjectClass PascalVOCKeypoints and PascalPF (#5781)
  CHANGELOG.md
  torch_geometric/datasets/pascal.py
  torch_geometric/datasets/pascal_pf.py
  torch_geometric/datasets/willow_object_class.py
Labels: dataset

Expose `disjoint` sampling option to `NeighborLoader` and `LinkNeighborLoader` (#5775)
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: loader

[Type Hints] `datasets.WebKB` (#5778)
  CHANGELOG.md
  torch_geometric/datasets/webkb.py
Labels: dataset

increase division offset
  torch_geometric/sampler/utils.py
Labels: none

Sort local neighborhoods according to time via `np.lexsort` (#5784)
  torch_geometric/sampler/utils.py
Labels: none

Fix broken Windows tests (#5788)
  test/data/test_batch.py
  test/loader/test_neighbor_loader.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
Labels: none

Added `return_semantic_attention_weights` parameter to `HANConv` (#5787)
  CHANGELOG.md
  torch_geometric/nn/conv/han_conv.py
Labels: nn

scipy.sparse: update namespace
  torch_geometric/utils/convert.py
Labels: utils

Using edge weight in `AddLaplacianEigenvectorPE` transform (#5801)
  torch_geometric/transforms/add_positional_encoding.py
Labels: transform

[Type Hints] `datasets.TOSCA`, `MixHopSyntheticDataset`, `PCPNetDataset` and `JODIE` (#5797)
  CHANGELOG.md
  torch_geometric/datasets/jodie.py
  torch_geometric/datasets/mixhop_synthetic_dataset.py
  torch_geometric/datasets/pcpnet_dataset.py
  torch_geometric/datasets/tosca.py
Labels: dataset

[Type Hints] `datasets.SHREC2016` (#5798)
  CHANGELOG.md
  torch_geometric/datasets/shrec2016.py
Labels: dataset

[Type Hints] `datasets.S3DIS` (#5799)
  CHANGELOG.md
  torch_geometric/datasets/s3dis.py
Labels: dataset

[Type Hints] `datasets.UPFD` (#5800)
  CHANGELOG.md
  torch_geometric/datasets/upfd.py
Labels: dataset

`HGTConv`: Check `out_channels % heads == 0` (#5802)
  torch_geometric/nn/conv/hgt_conv.py
Labels: nn

[Type Hints] `datasets.SNAPDataset`, `SuiteSparseMatrixCollection` and `WordNet18` (#5811)
  CHANGELOG.md
  torch_geometric/datasets/snap_dataset.py
  torch_geometric/datasets/suite_sparse.py
  torch_geometric/datasets/word_net.py
Labels: dataset

[Type Hints] `nn.DimeNet` (#5806)
  CHANGELOG.md
  test/nn/models/test_dimenet.py
  torch_geometric/nn/models/dimenet.py
Labels: nn

[Type Hints] `nn.SAGPooling` (#5810)
  CHANGELOG.md
  test/nn/pool/test_sag_pool.py
  torch_geometric/nn/pool/sag_pool.py
Labels: nn

`BaseStorage`: Fix `setter` and `getter` (#5815)
  CHANGELOG.md
  test/data/test_storage.py
  torch_geometric/data/storage.py
Labels: data

Fix: `VirtualNode` mistakenly treats node features as edge features (#5819)
  CHANGELOG.md
  torch_geometric/transforms/virtual_node.py
Labels: transform

`LightningDataModule`: Add support for passing custom `sampler` (#5820)
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  torch_geometric/data/lightning_datamodule.py
Labels: data

add colab notebook
  docs/source/notes/colabs.rst
  torch_geometric/sampler/utils.py
Labels: documentation

fix test
  test/loader/test_link_neighbor_loader.py
Labels: none

Added a "Link Prediction on MovieLens" Colab Notebook (#5823)
  CHANGELOG.md
  docs/source/notes/colabs.rst
Labels: documentation

Adding type hints for shapenet (#5828)
  CHANGELOG.md
  torch_geometric/datasets/shapenet.py
Labels: dataset

Improve `data.validate()` to check for `edge_index.shape` (#5833)
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/datasets/shapenet.py
Labels: data, dataset

[Benchmark] Adding training benchmark (#5774)
  CHANGELOG.md
  benchmark/training/training_benchmark.py
  benchmark/utils/__init__.py
  benchmark/utils/hetero_gat.py
  benchmark/utils/hetero_sage.py
  benchmark/utils/utils.py
  torch_geometric/profile/profile.py
Labels: benchmark

refactor(sampler): separate `node_sample` and `edge_sample` (#5826)
  torch_geometric/sampler/neighbor_sampler.py
Labels: none

Enable VTune ITT in inference benchmarks (#5830)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
Labels: benchmark

[Type Hints] `nn.DenseGraphConv`, `DenseGINConv`, `GAE`, `VGAE` (#5842)
  CHANGELOG.md
  test/nn/dense/test_dense_gin_conv.py
  test/nn/dense/test_dense_graph_conv.py
  test/nn/models/test_autoencoder.py
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/models/autoencoder.py
Labels: nn

fix type hints
  torch_geometric/nn/dense/dense_gin_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
Labels: nn

fix(data): do not attempt to infer sizes from edges with unset sizes (#5848)
  torch_geometric/data/remote_backend_utils.py
Labels: data
