Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, graphgym, benchmark

update (#5448)
  README.md
  torch_geometric/nn/aggr/attention.py
Labels: nn

`AttentionalAggregation` per-feature gating (#5449)
  CHANGELOG.md
  torch_geometric/nn/aggr/attention.py
Labels: nn

fix a typo in the GENConv doc-string (#5450)
  torch_geometric/nn/conv/gen_conv.py
Labels: nn

Fix some typos in doc (#5451)
  torch_geometric/nn/models/explainer.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: nn

Add `IndexToMask` and `MaskToIndex` transforms (#5375)
  CHANGELOG.md
  test/transforms/test_mask_transform.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/mask.py
Labels: transform

Add default splits to `MalNetTiny` dataset (#5442)
  CHANGELOG.md
  torch_geometric/datasets/malnet_tiny.py
Labels: dataset

Fix `IndexToMask` transform for `edge_index` attribute (#5455)
  CHANGELOG.md
  test/transforms/test_mask_transform.py
  torch_geometric/transforms/mask.py
Labels: transform

Support `sampler` argument in `LightningDataModule` (#5456)
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
Labels: data

Set `shuffle=False` in case a `sampler` is given (#5457)
  CHANGELOG.md
  torch_geometric/data/lightning_datamodule.py
Labels: data

Add `Summary` for PyG datasets (#5438)
  CHANGELOG.md
  test/data/test_summary.py
  torch_geometric/data/dataset.py
  torch_geometric/data/summary.py
Labels: data

`WLConv` operation for continuously attributed graphs (#5316)
  CHANGELOG.md
  README.md
  test/nn/conv/test_wl_conv_continuous.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/wl_conv_continuous.py
Labels: nn

fix __repr__ in Summary when progress_bar=True (#5465)
  torch_geometric/data/summary.py
Labels: data

fix broken url in MD17 dataset (#5474)
  torch_geometric/datasets/md17.py
Labels: dataset

Fix has_isolated_nodes computation in HeteroData
  torch_geometric/data/hetero_data.py
Labels: data

Fix `to_dense_adj` with empty `edge_index` (#5476)
  CHANGELOG.md
  test/utils/test_to_dense_adj.py
  torch_geometric/utils/to_dense_adj.py
Labels: none

Add random walk based `AddRandomMetaPaths` as a faster alternative (#5397)
  CHANGELOG.md
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/add_metapaths.py
Labels: transform

Enable `torch.scatter_reduce` implicitly when torch version requirements are met (#5399)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  docs/source/modules/root.rst
  test/nn/pool/test_asap.py
  test/test_experimental.py
  test/utils/test_scatter.py
  torch_geometric/experimental.py
  torch_geometric/utils/scatter.py
Labels: documentation, benchmark

update slack link (#5489)
  README.md
  docs/source/index.rst
Labels: documentation

Rename `drop_unconnected_nodes` and `drop_orig_edges` arguments in `AddMetapaths` (#5490)
  CHANGELOG.md
  examples/hetero/dmgi_unsup.py
  examples/hetero/han_imdb.py
  test/transforms/test_add_metapaths.py
  torch_geometric/transforms/add_metapaths.py
Labels: example, transform

Add `dropout_node` to `torch_geometric.utils` (#5481)
  CHANGELOG.md
  test/utils/test_dropout.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: none

Allow `.` in `ParameterDict` key names (#5494)
  CHANGELOG.md
  test/nn/test_module_dict.py
  test/nn/test_parameter_dict.py
  torch_geometric/nn/conv/hgt_conv.py
  torch_geometric/nn/parameter_dict.py
Labels: nn

Add support for precomputed edges in `SchNet` model (#5401)
  CHANGELOG.md
  examples/qm9_pretrained_schnet.py
  setup.py
  test/nn/models/test_schnet.py
  torch_geometric/logging.py
  torch_geometric/nn/models/schnet.py
Labels: example, nn

Fix typo in PositionalEncoding (#5502)
  torch_geometric/nn/encoding.py
Labels: nn

`JumpingKnowledge` Documentation Changes (#5506)
  test/nn/models/test_jumping_knowledge.py
  torch_geometric/nn/models/jumping_knowledge.py
Labels: nn

Fix `None` case of `sampler` or `batch_sampler` (#5507)
  torch_geometric/data/lightning_datamodule.py
Labels: data

Add `dropout_edge` and deprecate `dropout_adj` (#5495)
  CHANGELOG.md
  README.md
  examples/graph_unet.py
  test/nn/test_to_hetero_transformer.py
  test/utils/test_dropout.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: example, nn

quick fix for dropout_node when training=False (#5513)
  test/utils/test_dropout.py
  torch_geometric/utils/dropout.py
Labels: none

Fixed a bug when applying several scalers with `PNAConv` (#5515)
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
Labels: nn

Add `DGraphFin` dynamic graph dataset (#5504)
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/dgraph.py
Labels: dataset

Extended dataset cheatsheet in documentation (#5526)
  torch_geometric/datasets/aqsol.py
  torch_geometric/datasets/md17.py
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/polblogs.py
  torch_geometric/datasets/zinc.py
Labels: dataset

Fix grammatical error in docstring (#5547)
  torch_geometric/nn/pool/graclus.py
Labels: nn

[ONNX] Prevent tensors to be detached during ONNX export (#5571)
  torch_geometric/nn/dense/linear.py
Labels: nn

Add `torch_geometric.sampler` package to docs (#5563)
  CHANGELOG.md
  docs/source/index.rst
  docs/source/modules/loader.rst
  docs/source/modules/sampler.rst
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: documentation

`NeighborSampler`: Sort local neighborhoods according to `time` (#5516)
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: loader

Support for sampling last `k` neighbors as temporal sampling strategy (#5576)
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: loader

Add option for `BatchNorm` to handle batches of size one (#5530)
  CHANGELOG.md
  test/nn/norm/test_batch_norm.py
  torch_geometric/nn/norm/batch_norm.py
Labels: nn

Do not remove labels when matching files are reverted (#5578)
  .github/workflows/labeler.yml
Labels: none

Unknown label support in `to_homogeneous` (#5540)
  CHANGELOG.md
  test/data/test_hetero_data.py
  torch_geometric/data/hetero_data.py
Labels: data

Add `dropout_path` as a structured form of `dropout_edge` (#5531)
  CHANGELOG.md
  README.md
  test/utils/test_dropout.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/dropout.py
Labels: none

Fix a typo in doc-string (#5580)
  torch_geometric/nn/functional/gini.py
Labels: nn

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*
