Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, graphgym, benchmark

Automatically assign author to PR (#5337)
  .github/workflows/labeler.yml
Labels: none

Allow file names to be specified as either property and method (#5338)
  CHANGELOG.md
  test/data/test_dataset.py
  torch_geometric/data/dataset.py
Labels: data

`MessagePassing`: Improve out-of-bounds error message (#5339)
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.jinja
  torch_geometric/nn/conv/message_passing.py
Labels: nn

Fix `PointTransformerConv` aggregation from `mean` to `sum` (#5332)
  CHANGELOG.md
  torch_geometric/nn/conv/point_transformer_conv.py
Labels: nn

Fix inference benchmark (#5341)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/inference/utils.py
  test/test_experimental.py
  torch_geometric/__init__.py
  torch_geometric/debug.py
  torch_geometric/experimental.py
  torch_geometric/nn/models/basic_gnn.py
Labels: nn, benchmark

`HeteroLinear` with `segment_matmul` (#5330)
  CHANGELOG.md
  test/nn/dense/test_linear.py
  torch_geometric/nn/dense/linear.py
Labels: nn

Fix `HeteroLinear` with `segment_matmul` (#5347)
  CHANGELOG.md
  torch_geometric/nn/dense/linear.py
Labels: nn

PyTorch nightly `fx` tracing fix (#5342)
  torch_geometric/nn/fx.py
Labels: nn

add MIT license to colab notebooks (#5354)
  docs/source/notes/colabs.rst
Labels: documentation

fix bug in explain (#5359)
  test/nn/models/test_gnn_explainer.py
  torch_geometric/nn/models/explainer.py
Labels: nn

fix condition to re-process TU dataset in PyG 2.1 (#5360) (#5361)
  torch_geometric/datasets/tu_dataset.py
Labels: dataset

update slack url
  README.md
  docs/source/index.rst
Labels: documentation

init (#5364)
  torch_geometric/loader/neighbor_loader.py
Labels: loader

added print for --use-sparse-tensor in results (#5366)
  benchmark/inference/inference_benchmark.py
Labels: benchmark

Replace in-place operations by out-of-place ones (#5353)
  CHANGELOG.md
  test/utils/test_scatter.py
  torch_geometric/nn/conv/appnp.py
  torch_geometric/nn/conv/arma_conv.py
  torch_geometric/nn/conv/cg_conv.py
  torch_geometric/nn/conv/cheb_conv.py
  torch_geometric/nn/conv/dna_conv.py
  torch_geometric/nn/conv/eg_conv.py
  torch_geometric/nn/conv/fa_conv.py
  torch_geometric/nn/conv/feast_conv.py
  torch_geometric/nn/conv/gat_conv.py
  torch_geometric/nn/conv/gatv2_conv.py
  torch_geometric/nn/conv/gcn2_conv.py
  torch_geometric/nn/conv/gcn_conv.py
  torch_geometric/nn/conv/gen_conv.py
  torch_geometric/nn/conv/general_conv.py
  torch_geometric/nn/conv/gin_conv.py
  torch_geometric/nn/conv/gmm_conv.py
  torch_geometric/nn/conv/graph_conv.py
  torch_geometric/nn/conv/heat_conv.py
  torch_geometric/nn/conv/mf_conv.py
  torch_geometric/nn/conv/nn_conv.py
  torch_geometric/nn/conv/pdn_conv.py
  torch_geometric/nn/conv/res_gated_graph_conv.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/conv/sage_conv.py
  torch_geometric/nn/conv/signed_conv.py
  torch_geometric/nn/conv/spline_conv.py
  torch_geometric/nn/conv/supergat_conv.py
  torch_geometric/nn/conv/tag_conv.py
  torch_geometric/nn/conv/transformer_conv.py
  torch_geometric/nn/dense/dense_graph_conv.py
  torch_geometric/nn/models/attentive_fp.py
  torch_geometric/nn/models/dimenet.py
  torch_geometric/nn/models/linkx.py
  torch_geometric/utils/scatter.py
Labels: nn

refactor(sampler): consolidate sampling interface, part 1 (#5312)
  CHANGELOG.md
  torch_geometric/data/graph_store.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: data, loader

build: improve support for `skip-changelog` in changelog enforcer (#5377)
  .github/workflows/changelog.yml
Labels: none

Add `pyg-lib` neighbor sampling test (#5384)
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
Labels: none

build: do not run tests in minimal install (#5376)
  .github/workflows/install.yml
Labels: none

`GraphSAGE` example with `LinkNeighborLoader` (#5317)
  CHANGELOG.md
  examples/graph_sage_unsup.py
Labels: example

Test `pytorch.scatter_reduce` in-place gradient computation (#5386)
  CHANGELOG.md
  test/utils/test_scatter.py
Labels: none

`pyg-lib` neighbor sampler integration (#5388)
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: loader

refactor(sampler): consolidate link neighbor sampling interface, part 2 (#5365)
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_loader_utils.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: data, loader

init (#5392)
  torch_geometric/sampler/neighbor_sampler.py
Labels: none

Make `ASAPooling` jittable (#5395)
  CHANGELOG.md
  test/nn/pool/test_asap.py
  torch_geometric/nn/pool/asap.py
  torch_geometric/nn/pool/topk_pool.py
Labels: nn

fix bug in example: gnn_explainer_ba_shapes (#5403)
  examples/gnn_explainer_ba_shapes.py
Labels: example

fix duplicated key batch in ShaDowKHopSampler when accepting DataBatch as input (#5410)
  torch_geometric/loader/shadow.py
Labels: loader

Add `PositionEncoding` module (#5381)
  CHANGELOG.md
  docs/source/modules/nn.rst
  test/nn/test_encoding.py
  torch_geometric/nn/__init__.py
  torch_geometric/nn/encoding.py
Labels: documentation, nn

refactor(sampler): clean up sampler attributes, part 3 (#5402)
  CHANGELOG.md
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: loader

refactor(loader): `NodeLoader` and `LinkLoader` as base implementation classes, part 4 (#5404)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/nn/models/basic_gnn.py
  torch_geometric/sampler/utils.py
Labels: loader, nn, benchmark

refactor(loader): `HGTLoader` behind `NodeLoader` interface, part 5 (#5418)
  CHANGELOG.md
  torch_geometric/loader/hgt_loader.py
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/hgt_sampler.py
Labels: loader

only run labeler CI on non-forks (#5423)
  .github/workflows/labeler.yml
Labels: none

Only run labeleler CI on non-forks (#5424)
  .github/workflows/labeler.yml
Labels: none

Add `FeaturePropagation` as a `transform` (#5387)
  CHANGELOG.md
  README.md
  test/transforms/test_feature_propagation.py
  torch_geometric/graphgym/config_store.py
  torch_geometric/transforms/__init__.py
  torch_geometric/transforms/feature_propagation.py
Labels: transform, graphgym

Keep `edge_index` with `SparseTensor` data representation for `PNA` model (#5425)
  benchmark/inference/utils.py
Labels: benchmark

fix: support of fx functionality for older pytorch versions added (#5431)
  torch_geometric/nn/fx.py
Labels: nn

Add code examples for `torch_geometric.utils` functions (#5422)
  torch_geometric/utils/coalesce.py
  torch_geometric/utils/convert.py
  torch_geometric/utils/degree.py
  torch_geometric/utils/dropout.py
  torch_geometric/utils/geodesic.py
  torch_geometric/utils/get_laplacian.py
  torch_geometric/utils/grid.py
  torch_geometric/utils/homophily.py
  torch_geometric/utils/isolated.py
  torch_geometric/utils/loop.py
  torch_geometric/utils/mask.py
  torch_geometric/utils/negative_sampling.py
  torch_geometric/utils/normalized_cut.py
  torch_geometric/utils/random.py
  torch_geometric/utils/softmax.py
  torch_geometric/utils/sort_edge_index.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/subgraph.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/to_dense_batch.py
  torch_geometric/utils/unbatch.py
  torch_geometric/utils/undirected.py
Labels: none

Fix `node_attributes` shape in `read_tu_data` (#5441)
  CHANGELOG.md
  torch_geometric/io/tu.py
Labels: none

Set `num_workers=0` for Windows OS in node2vec example (#5440)
  examples/node2vec.py
Labels: example

Ensure equal lenghts of `num_neighbors` across edge types in `NeighborLoader` (#5444)
  CHANGELOG.md
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
Labels: none

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*
