Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, utils, graphgym, benchmark

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*

Add PyTorch SparseTensor support for `MessagePassing` (#5944)
  CHANGELOG.md
  test/nn/conv/test_message_passing.py
  torch_geometric/nn/conv/message_passing.py
Labels: nn

Fix `NeighborLoader` tests on Windows (#5988)
  test/loader/test_neighbor_loader.py
Labels: none

Warn on invalid node and edge type names in `HeteroData` (#5990)
  .gitignore
  CHANGELOG.md
  test/data/test_hetero_data.py
  test/loader/test_dynamic_batch_sampler.py
  test/nn/conv/test_message_passing.py
  test/transforms/test_random_link_split.py
  test/utils/test_dropout.py
  torch_geometric/data/hetero_data.py
Labels: data

Allow numbers of type names in HeteroData
  torch_geometric/data/hetero_data.py
Labels: data

Check `ONNX` output equality (#5997)
  CHANGELOG.md
  test/nn/models/test_basic_gnn.py
Labels: none

LRGB: Long Range Graph Benchmark datasets (#5935)
  CHANGELOG.md
  torch_geometric/datasets/__init__.py
  torch_geometric/datasets/lrgb.py
Labels: dataset

Add bipartite `GraphSAGE` example (#5834)
  CHANGELOG.md
  examples/hetero/bipartite_sage.py
Labels: example

`HeteroData` support in `RandomNodeLoader` (#6007)
  CHANGELOG.md
  examples/ogbn_proteins_deepgcn.py
  examples/rev_gnn.py
  test/loader/test_random_node_loader.py
  torch_geometric/data/__init__.py
  torch_geometric/graphgym/loader.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/random_node_loader.py
  torch_geometric/loader/random_node_sampler.py
Labels: example, data, loader, graphgym

Add `is_sparse` and `to_torch_coo_tensor` (#6003)
  CHANGELOG.md
  test/utils/test_sparse.py
  test/utils/test_torch_sparse_tensor.py
  torch_geometric/nn/conv/message_passing.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/sparse.py
  torch_geometric/utils/spmm.py
  torch_geometric/utils/torch_sparse_tensor.py
Labels: nn, utils

`to_captum`: Support for explaining heterogenous graphs (#5934)
  CHANGELOG.md
  examples/captum_explainability.py
  test/nn/models/test_hetero_explainer.py
  test/nn/models/test_to_captum.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/explainer.py
Labels: example, nn

`to_captum_model`: Minor fix to docs (#6031)
  torch_geometric/nn/models/explainer.py
Labels: nn

`FusedAggregation` of simple scatter reductions (#6036)
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
Labels: nn

Benchmark `FusedAggregation` backward pass (#6041)
  test/nn/aggr/test_basic.py
  test/nn/aggr/test_fused.py
Labels: none

Integrate `FusedAggregation` into `MultiAggregation` (#6040)
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  test/nn/aggr/test_multi.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/nn/aggr/multi.py
Labels: nn

`semi_grad` option in `VarAggregation` and `StdAggregation` (#6042)
  CHANGELOG.md
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
Labels: nn

Trainable normalization param in `PNAConv` (#6039)
  CHANGELOG.md
  torch_geometric/nn/aggr/scaler.py
  torch_geometric/nn/conv/pna_conv.py
Labels: nn

Add `to_smiles` function (#6038)
  CHANGELOG.md
  test/utils/test_smiles.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/smiles.py
Labels: utils

Minor fix for `mask_feature` (#6043)
  test/utils/test_augmentation.py
  torch_geometric/utils/augmentation.py
Labels: utils

Triplet sampling in `NeighborLoader` (#6004)
  CHANGELOG.md
  examples/graph_sage_unsup_ppi.py
  test/data/test_lightning_datamodule.py
  test/loader/test_link_neighbor_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: example, loader

Move `HeteroData` type warnings to `to_hetero()` (#6044)
  test/data/test_hetero_data.py
  test/nn/test_to_hetero_transformer.py
  test/nn/test_to_hetero_with_bases_transformer.py
  torch_geometric/data/hetero_data.py
  torch_geometric/nn/to_hetero_transformer.py
  torch_geometric/nn/to_hetero_with_bases_transformer.py
Labels: data, nn

Improve efficiency of `StdAggregation` (#6050)
  torch_geometric/nn/aggr/basic.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/nn/conv/eg_conv.py
Labels: nn

Benchmark for `scatter_reduce` (#6051)
  CHANGELOG.md
  test/nn/aggr/test_fused.py
  test/utils/test_scatter.py
Labels: none

Optimized `scatter` operations for CPU/GPU (#6052)
  CHANGELOG.md
  test/data/test_lightning_datamodule.py
  test/nn/aggr/test_fused.py
  test/nn/conv/test_fused_gat_conv.py
  test/nn/models/test_basic_gnn.py
  test/nn/test_data_parallel.py
  test/profile/test_profile.py
  test/profile/test_utils.py
  test/utils/test_scatter.py
  torch_geometric/nn/aggr/base.py
  torch_geometric/nn/aggr/fused.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/decorators.py
  torch_geometric/utils/scatter.py
Labels: nn, utils

Add connection type in `LargestConnectedComponents` transform (#6055)
  torch_geometric/transforms/largest_connected_components.py
Labels: transform

`GNNExplainer` migration (#5967)
  CHANGELOG.md
  README.md
  docs/source/modules/explain.rst
  examples/gnn_explainer.py
  examples/gnn_explainer_ba_shapes.py
  test/explain/algorithm/test_gnn_explainer.py
  test/explain/test_explainer.py
  test/nn/models/test_gnn_explainer_old_interface.py
  torch_geometric/explain/algorithm/__init__.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/algorithm/utils.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/explainer.py
  torch_geometric/nn/models/gnn_explainer.py
Labels: documentation, example, nn

doc fixes for GNNExplainer
  docs/source/modules/nn.rst
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/nn/models/__init__.py
Labels: documentation, nn

Remove duplicated mask functions (#6062)
  test/explain/algorithm/test_explain_algorithm_utils.py
  test/nn/models/test_hetero_explainer.py
  test/profile/test_profile_utils.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/captum.py
Labels: nn

DataLoader threads affinitization (#6005)
  CHANGELOG.md
  benchmark/inference/inference_benchmark.py
  benchmark/loader/neighbor_loader.py
  setup.py
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/base.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/profile/profile.py
Labels: loader, benchmark

Fix training benchmark `device` issue (#6070)
  benchmark/training/training_benchmark.py
Labels: benchmark

Fix `worker_init_fn` duplicate keyword argument (#6071)
  torch_geometric/loader/base.py
  torch_geometric/loader/node_loader.py
Labels: loader

Reusable workflow actions (#6075)
  .github/actions/setup/action.yml
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/examples.yml
  .github/workflows/full_testing.yml
  .github/workflows/install.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/nightly.yml
  .github/workflows/testing.yml
  test/transforms/test_to_superpixels.py
Labels: none

Fix master tests
  test/nn/conv/test_gen_conv.py
Labels: none

Print PyTorch summary in CI (#6081)
  .github/actions/setup/action.yml
Labels: none

`pyg-lib` installation instructions (#6085)
  CONTRIBUTING.md
  README.md
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
Labels: documentation

Some usability updates to `Explanation` (#6054)
  CHANGELOG.md
  test/explain/test_explanation.py
  test/explain/test_explanations.py
  torch_geometric/explain/__init__.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explanation.py
  torch_geometric/explain/explanations.py
Labels: none
