Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, explain, transform, utils, graphgym, benchmark

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

explain:
  - torch_geometric/explain/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*

update
  examples/gnn_explainer.py
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: example, explain

Add warning in case `target` is provided for `ExplanationType.model` (#6088)
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/config.py
  torch_geometric/explain/explainer.py
Labels: explain

Connect configurations to `ExplainerAlgorithm` (#6089)
  CHANGELOG.md
  torch_geometric/explain/algorithm/base.py
  torch_geometric/explain/algorithm/dummy_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
  torch_geometric/explain/explainer.py
Labels: explain

`GNNExplainer` Edge Task Level (#6056)
  CHANGELOG.md
  test/explain/algorithm/test_gnn_explainer.py
  torch_geometric/explain/algorithm/gnn_explainer.py
Labels: explain

docs: remote backend documentation (#6096)
  docs/source/_figures/remote_1.png
  docs/source/_figures/remote_2.png
  docs/source/_figures/remote_3.png
  docs/source/index.rst
  docs/source/notes/remote.rst
Labels: documentation

Increase PyG to version `2.2.0` (#6105)
  CHANGELOG.md
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
  setup.py
  torch_geometric/__init__.py
Labels: none

Build conda packages (#6106)
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  conda/pyg/meta.yaml
  conda/pytorch-geometric/meta.yaml
Labels: none

Performance improvements to `utils.softmax` (#6113)
  CHANGELOG.md
  test/utils/test_softmax.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/softmax.py
Labels: utils

`RandLA-Net` example (#5117)
  CHANGELOG.md
  examples/randlanet_classification.py
  examples/randlanet_segmentation.py
  test/nn/pool/test_decimation.py
  torch_geometric/nn/pool/decimation.py
Labels: example, nn

Faster `topk` implementation for large enough graphs (#6123)
  CHANGELOG.md
  test/nn/pool/test_topk_pool.py
  torch_geometric/nn/pool/topk_pool.py
Labels: nn

Support for dropping nodes in `to_dense_batch` (#6124)
  CHANGELOG.md
  test/utils/test_to_dense_adj.py
  test/utils/test_to_dense_batch.py
  torch_geometric/utils/to_dense_adj.py
  torch_geometric/utils/to_dense_batch.py
Labels: utils

Add section on validating `Data` objects in the documentation (#6125)
  docs/source/notes/introduction.rst
Labels: documentation

Fix CPU affinity test on machines with GPU devices (#6126)
  test/loader/test_neighbor_loader.py
  torch_geometric/loader/node_loader.py
Labels: loader

`FeatureStore` and `GraphStore` documentation (#6127)
  docs/source/modules/data.rst
  docs/source/notes/remote.rst
  torch_geometric/data/__init__.py
  torch_geometric/data/feature_store.py
  torch_geometric/data/graph_store.py
Labels: documentation, data

`BaseSampler` documentation (#6128)
  docs/source/modules/sampler.rst
  docs/source/notes/remote.rst
  torch_geometric/sampler/__init__.py
  torch_geometric/sampler/base.py
Labels: documentation

Update `FeatureStore` and `GraphStore` imports (#6130)
  test/data/test_feature_store.py
  test/data/test_graph_store.py
  test/data/test_lightning_datamodule.py
  test/data/test_remote_backend_utils.py
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/data/__init__.py
  torch_geometric/data/data.py
  torch_geometric/data/hetero_data.py
  torch_geometric/data/lightning_datamodule.py
  torch_geometric/data/remote_backend_utils.py
  torch_geometric/loader/__init__.py
  torch_geometric/loader/hgt_loader.py
  torch_geometric/loader/link_loader.py
  torch_geometric/loader/link_neighbor_loader.py
  torch_geometric/loader/neighbor_loader.py
  torch_geometric/loader/node_loader.py
  torch_geometric/loader/utils.py
  torch_geometric/sampler/base.py
  torch_geometric/sampler/hgt_sampler.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/testing/__init__.py
  torch_geometric/testing/feature_store.py
  torch_geometric/testing/graph_store.py
Labels: data, loader
