Repository backend-engineer1/Py_Geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, data, dataset, loader, nn, transform, utils, graphgym, benchmark

.github/labeler.yml:

documentation:
  - docs/**/*

example:
  - examples/**/*

data:
  - torch_geometric/data/**/*

dataset:
  - torch_geometric/datasets/**/*

loader:
  - torch_geometric/loader/**/*

nn:
  - torch_geometric/nn/**/*

transform:
  - torch_geometric/transforms/**/*

utils:
  - torch_geometric/utils/**/*

graphgym:
  - graphgym/**/*
  - torch_geometric/graphgym/**/*

benchmark:
  - benchmark/**/*
  - torch_geometric/profile/**/*

Fix C++ exmaple compilation by linking cusparse (#5598)
  examples/cpp/CMakeLists.txt
Labels: example

Avoid modifying `mode_kwargs` in `MultiAggregation` (#5601)
  CHANGELOG.md
  torch_geometric/nn/aggr/multi.py
Labels: nn

Fix `LinkNeighborLoader` with sorted timestamps (#5602)
  CHANGELOG.md
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
  torch_geometric/sampler/neighbor_sampler.py
  torch_geometric/sampler/utils.py
Labels: none

Add basic augmentation methods (#5548)
  CHANGELOG.md
  README.md
  test/utils/test_augmentation.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/augmentation.py
Labels: utils

Add `SSGConv` to `torch_geometric.nn.conv` (#5599)
  CHANGELOG.md
  README.md
  test/nn/conv/test_ssg_conv.py
  torch_geometric/nn/conv/__init__.py
  torch_geometric/nn/conv/ssg_conv.py
Labels: nn

[Type Hints] `utils.contains_isolated_nodes` (#5603)
  CHANGELOG.md
  test/utils/test_isolated.py
  torch_geometric/utils/isolated.py
Labels: utils

Fix `RGCN+pyg-lib` for `LongTensor` input (#5610)
  CHANGELOG.md
  examples/rgcn.py
  torch_geometric/nn/conv/rgcn_conv.py
Labels: example, nn

Correctly instantiate EgoData in SnapDatasets
  torch_geometric/datasets/snap_dataset.py
Labels: dataset

Add `assortativity` to `torch_geometric.utils` (#5587)
  CHANGELOG.md
  test/utils/test_assortativity.py
  torch_geometric/utils/__init__.py
  torch_geometric/utils/assortativity.py
Labels: utils

Fixing TorchScript support in `BatchNorm` (#5614)
  .github/workflows/full_testing.yml
  CHANGELOG.md
  torch_geometric/nn/norm/batch_norm.py
Labels: nn

Fix the output shape of index-based aggregation example code (#5621)
  torch_geometric/nn/aggr/base.py
Labels: nn

Support `in_channels` with `tuple` in `GENConv` for bipartite message passing (#5627)
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/gen_conv.py
Labels: nn

Add ratio adjustment in `RandomLinkSplit` when not enough negative edges exist (#5642)
  CHANGELOG.md
  test/transforms/test_random_link_split.py
  torch_geometric/transforms/random_link_split.py
Labels: transform

Refactor `GENConv` linear layers for lazy init and fix doc for bipartite graphs (#5641)
  CHANGELOG.md
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/conv/gen_conv.py
Labels: nn

Minor fix for `pyg-lib` usage in `HeteroLinear` and `RGCNConv` (#5510)
  .github/workflows/full_testing.yml
  .github/workflows/testing.yml
  test/nn/conv/test_rgcn_conv.py
  test/nn/test_to_hetero_transformer.py
  torch_geometric/nn/conv/rgcn_conv.py
  torch_geometric/nn/dense/linear.py
Labels: nn

Fix `test_mask_feature` CI failure (#5672)
  test/utils/test_augmentation.py
  torch_geometric/utils/augmentation.py
Labels: utils

[Type Hints] `utils.remove_isolated_nodes` (#5659)
  CHANGELOG.md
  test/utils/test_isolated.py
  torch_geometric/utils/isolated.py
Labels: utils

[Type Hints] `utils.normalized_cut` (#5665)
  CHANGELOG.md
  test/utils/test_normalized_cut.py
  torch_geometric/utils/normalized_cut.py
Labels: utils

[Type Hints] `datasets.ICEWS18` (#5666)
  CHANGELOG.md
  torch_geometric/datasets/icews.py
Labels: dataset

[TypeHints] `OneHotDegree` (#5667)
  CHANGELOG.md
  torch_geometric/transforms/one_hot_degree.py
Labels: transform

[TypeHints] `ToDense` (#5668)
  CHANGELOG.md
  torch_geometric/transforms/to_dense.py
Labels: transform

[TypeHints] `Node2Vec` (#5669)
  CHANGELOG.md
  test/nn/models/test_node2vec.py
  torch_geometric/nn/models/node2vec.py
Labels: nn

[Type Hints] `DenseSAGEConv` and `DenseGCNConv` (#5664)
  CHANGELOG.md
  test/nn/dense/test_dense_gcn_conv.py
  test/nn/dense/test_dense_sage_conv.py
  torch_geometric/nn/dense/dense_gcn_conv.py
  torch_geometric/nn/dense/dense_sage_conv.py
Labels: nn

fix test
  test/loader/test_link_neighbor_loader.py
  test/loader/test_neighbor_loader.py
Labels: none

Add `CHANGELOG` note to contributing guidelines (#5674)
  CONTRIBUTING.md
Labels: none

[Type Hints] `transforms.Cartesian` (#5673)
  CHANGELOG.md
  torch_geometric/transforms/cartesian.py
Labels: transform

[Type Hints] `transforms.LocalCartesian` (#5675)
  CHANGELOG.md
  torch_geometric/transforms/local_cartesian.py
Labels: transform

[Type Hints] `transforms.Polar` (#5676)
  CHANGELOG.md
  torch_geometric/transforms/polar.py
Labels: transform

Fix `auto_select_gpus` in GraphGym (#5677)
  CHANGELOG.md
  torch_geometric/graphgym/config.py
  torch_geometric/graphgym/train.py
  torch_geometric/graphgym/utils/device.py
Labels: graphgym

fix lint
  torch_geometric/graphgym/train.py
Labels: graphgym

[Type Hints] `NELL` `PPI` `MoleculeNet` `QM7` `ZINC` (#5678)
  CHANGELOG.md
  torch_geometric/datasets/molecule_net.py
  torch_geometric/datasets/nell.py
  torch_geometric/datasets/ppi.py
  torch_geometric/datasets/qm7.py
  torch_geometric/datasets/zinc.py
Labels: dataset

`conda` installation for PyG 2.1 (#5679)
  .github/workflows/building_pyg_conda.yml
  .github/workflows/building_rusty1s_conda.yml
  README.md
  conda/pyg/README.md
  conda/pyg/build_conda.sh
  conda/pyg/meta.yaml
  conda/pytorch-geometric/README.md
  conda/pytorch-geometric/build_conda.sh
  conda/pytorch-geometric/meta.yaml
  docs/source/notes/installation.rst
  docs/source/notes/quick-start.html
Labels: documentation

[Type Hints] `utils.dense_to_sparse` (#5683)
  CHANGELOG.md
  test/utils/test_sparse.py
  torch_geometric/utils/sparse.py
Labels: utils

[Type Hints] `nn.InstanceNorm` (#5684)
  CHANGELOG.md
  torch_geometric/nn/norm/instance_norm.py
Labels: nn

Fix `path` in `heter_conv_dblp` example (#5686)
  CHANGELOG.md
  examples/hetero/hetero_conv_dblp.py
Labels: example

[Type Hints] `utils.to_dense_adj` and `utils.get_laplacian` (#5682)
  CHANGELOG.md
  test/utils/test_get_laplacian.py
  test/utils/test_to_dense_adj.py
  torch_geometric/utils/get_laplacian.py
  torch_geometric/utils/to_dense_adj.py
Labels: utils

[Type Hints] `transforms.Distance` (#5685)
  CHANGELOG.md
  torch_geometric/transforms/distance.py
Labels: transform

[Type Hints] `nn.max_pool_x` (#5687)
  CHANGELOG.md
  test/nn/pool/test_max_pool.py
  torch_geometric/nn/pool/max_pool.py
Labels: nn

[Type Hints] `nn.DeepGraphInfomax` (#5688)
  CHANGELOG.md
  test/nn/models/test_deep_graph_infomax.py
  torch_geometric/nn/models/deep_graph_infomax.py
Labels: nn

fix master
  test/nn/conv/test_gen_conv.py
  torch_geometric/nn/dense/linear.py
  torch_geometric/utils/isolated.py
  torch_geometric/utils/sparse.py
Labels: nn, utils
